* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 12vh;
  background-color: #ff1212;
  color: #ffffff;
  justify-content: space-around;
  position: sticky;
}

.nav__logo {
  height: 100px;
  width: 100px;
  filter: invert(89%) sepia(26%) saturate(5212%) hue-rotate(359deg)
    brightness(102%) contrast(104%);
}

.input {
  height: 25px;
  border: 2px solid rgb(202, 199, 194);
  border-radius: 20px;
}

body {
  background-color: wheat;
}

.types {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background-color: darkslategray;
}

.types__selector {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 20px;
  margin: 1%;
  padding: 5px;
  background-color: grey;
  box-shadow: 0 0 20px #1f2429;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}

.types__selector:hover {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
}

.pokedex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  font-family: "Quantico", sans-serif;
}

.pkmnCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;
  background-color: rgb(202, 199, 194);
  margin: 40px 40px;
  padding: 10px;
}

.pkmn__name {
  text-transform: capitalize;
}

.pkmn__image {
  height: 125px;
  border-radius: 100px;
  background: linear-gradient(180deg, #ff0000 50%, #ffffff 50%);
}

.pkmn__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.pkmn__info--type {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}

.fire {
  background-color: #ff4500;
}

.grass {
  background-color: #006400;
}

.water {
  background-color: #00ffff;
}
.flying {
  background-color: #f4a460;
}

.electric {
  background-color: #ffd700;
}

.ground {
  background-color: #8b4513;
}

.rock {
  background-color: #c0c0c0;
}

.fairy {
  background-color: #ffb6c1;
}
.bug {
  background-color: #98fb98;
}
.poison {
  background-color: #ba55d3;
}
.dragon {
  background-color: #663399;
}
.psychic {
  background-color: #ff69b4;
}
.fighting {
  background-color: #a52a2a;
}
.normal {
  background-color: #ffdab9;
}
.ghost {
  background-color: #800080;
}
.steel {
  background-color: #708090;
}
.ice {
  background-color: #add8e6;
}
.dark {
  background-color: #191970;
}
